/* .loader {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
} */

.loader img {
    width: 30px;
}

.loader {
    position: fixed;
    top: 80px;
    right: 50px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    padding: 10px;
    border-radius: 5px;
}

.loader span {
    color: wheat;
}
